

body {
  width: 100%;
  background: #fafafa;
}
#root {
  width: 100%;
  display: block;
  min-width: 100wh;

}
.container {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid rgb(192, 133, 133);
  padding: 1rem;
  background: #fff;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
}

.text-center {
  text-align: center;
}